/* VISUAL */
.visual{
  margin-top: 170px;
}
.visual .title{
  
}
.visual .title a{
  display: block;
  width: 50vw;
  margin: 0 auto;
}
.visual .title a img{
  display: block;
  width: 100%;
  margin: 0 auto;
  box-shadow: 5px 5px 5px #808080;
}
.visual .title a .title__title{
  display: block;
  width: 100%;
  margin: 10px auto;
  font-size: 3vw;
  font-weight: 700;
  text-decoration: none;
  color: #05053c;
}
.news-slides{
  height: 693px;
  position: relative;
}
.news-slides .swiper{
  width: calc(500px * 3 + 20px);
  height: 300px;
  text-align: center;
  font-size: 200px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: calc((500px * 3 + 20px) / -2);
}
.news-slides .swiper-slide img{
  display: block;
  width: 500px;
  height: 300px;
  margin: 0 10px;
}
.news-slides .swiper-slide{
  opacity: .5;
  transition: opacity 1s;
}
.news-slides .swiper-slide-active{
  opacity: 1;
}
.news-slides .swiper-pagination{
  top: 360px;
  left: 0;
  right: 0;
  z-index: 0;
}
.news-slides .swiper-pagination .swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}
.news-slides .swiper-pagination .swiper-pagination-bullet:last-child{
  margin-right: 0;
}
.news-slides .swiper-pagination .swiper-pagination-bullet-active{
  background-color: transparent;
  background-image: url("../images/pager-on.png");
  background-size: 12px;
}
.news-slides .swiper-prev, 
.news-slides .swiper-next{
  width: 42px;
  height: 42px;
  border: 2px solid #87ceeb;
  border-radius: 50%;
  background-color: #87ceeb;
  color: #333;
  position: absolute;
  top: 180px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}
.news-slides .swiper-prev{
  left: 50%;
  margin-left: -270px;
}
.news-slides .swiper-next{
  right: 50%;
  margin-right: -285px;
}
.news-slides .swiper-prev:hover, 
.news-slides .swiper-next:hover{
  background-color: #191970;
  color: #fff;
  border-color: #191970;
}
.match .next-match{
  display: block;
  border: 1px solid #2c2a29;
  width: 50%;
  height: 40%;
  margin: 100px auto 50px;
  align-content: center;
}
.match .next-match .next-match--header{
  display: flex;
  justify-content: space-between;
  color: #333;
}
.match .next-match .next-match--header h4{
  margin-top: 10px;
  margin-left: 10px;
  font-size: 23px;
}
.match .next-match .next-match--header a{
  display: flex;
  color: #333;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 20px;
  transition: .2s;
}
.match .next-match .next-match--header a .all-match{
  margin-right: 10px;
}
.match .next-match .next-match--header a:hover{
  color: #87ceeb;
}
.match .next-match .date{
  display: block;
  margin: 10px 0 0;
  text-align: center;
  font-size: 25px;
}
.match .next-match .team img{
  display: block;
  width: 80%;
  margin: -30px auto 0;
}
.match .next-match .ticket{
  background-color: #afeeee;
  width: 300px;
  height: 50px;
  margin: 0 auto;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
  border-radius: 5px;
}
.match .next-match .ticket:hover{
  background-color: #191970;
  color: #fff;
}
